{% extends "base_auth.html" %}
{% load static %}

{% block title %}Alterar senha • CRONTEX{% endblock %}

{% block content %}
<section class="card" role="region">
  <img class="logo" src="{% static 'img/logo.jpeg' %}" alt="CRONTEX">

  <form method="post" action="{% url 'crontex_ui:password_change' %}" novalidate>
    {% csrf_token %}
    <div class="input">
      <input id="id_old_password" name="old_password" type="password" placeholder="Senha atual" required>
    </div>
    <div class="input">
      <input id="id_new_password1" name="new_password1" type="password" placeholder="Nova senha" required>
    </div>
    <div class="input">
      <input id="id_new_password2" name="new_password2" type="password" placeholder="Confirme a nova senha" required>
    </div>
    <button class="btn" type="submit">Alterar senha</button>
  </form>
</section>
{% endblock %}
