<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}CRONTEX{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'crontex/css/core.css' %}">
    <link rel="stylesheet" href="{% static 'crontex/css/app.css' %}">

</head>
<body>
  <!-- Barra superior -->
  <div class="nav">
    <div class="nav-inner">
      <img src="{% static 'crontex/img/logo.jpeg' %}" style="width:40px;height:40px;border-radius:12px" alt="logo">
      <span class="badge">Admin</span>
      <div style="margin-left:auto; display:flex; gap:12px; align-items:center;">
        <span class="muted">Olá, {{ request.user.first_name|default:request.user.username }}</span>
        <form action="{% url 'crontex_ui:logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="inline">Sair</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Sidebar -->
  <aside class="sidebar">
    <nav style="display:flex; flex-direction:column; gap:4px;">
        <a class="side-link {% if block.nav_overview %}active{% endif %}" 
            href="{% url 'crontex_ui:dashboard' %}">
            Visão geral
        </a>
        <a class="side-link" href="#">Pedidos</a>
        <a class="side-link {% if request.resolver_match and request.resolver_match.url_name == 'global_dashboard' %}active{% endif %}"
          href="{% url 'accounts:global_dashboard' %}">
          Dashboard
        </a>

        <a class="side-link {% if request.resolver_match and request.resolver_match.url_name == 'global_users' %}active{% endif %}"
          href="{% url 'accounts:global_users' %}">
          Usuários globais
        </a>

        <a class="side-link" href="{% url 'catalog:produto_list' %}">Produtos</a>
        <a class="side-link" href="#">Clientes</a>
        <a class="side-link" href="#">PCP</a>
        <a class="side-link" href="#">Relatórios</a>
        <a class="side-link" href="#">Configurações</a>
    </nav>
  </aside>

  <!-- Conteúdo principal -->
  <main class="main">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
