{# templates/catalog/_grades_variations.html #}
<div id="grade-from-variations" class="mt-3">

  <div class="alert info mb-3">
    Adicione variações e defina se cada atributo será <b>linha</b> ou <b>coluna</b>.
    Use TAB, ENTER ou vírgula para transformar valores em mini cards.
  </div>

  <div id="variations-wrapper" class="flex flex-col gap-3">
    {# Linhas serão inseridas via JS #}
  </div>

  <div class="mt-3">
    <button type="button" id="btn-add-param" class="btn">+ Adicionar parâmetro</button>
  </div>

  <div class="mt-4">
    <h4 class="mb-2">Prévia da grade</h4>
    <div id="grade-preview" class="table-wrapper"></div>
  </div>

  {# IMPORTANTE: este hidden precisa existir com este ID #}
  {{ form.grade_payload }}
</div>
